.movie-elements {
  display: flex;
  flex-direction: column;
}

.movie-elements_visible {
  visibility: hidden;
}

.elements-list {
  display: flex;
  flex-wrap: wrap;
  margin: 70px;
  padding: 0;
  column-gap: 20px;
  justify-content: center;
}

.movie-elements__button-yet {
  width: 320px;
  height: 36px;
  margin: 0 auto 80px auto;
  color: #000;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 10px;
  border-color: #E8E8E8;
  background-color: white;
  outline: none;
  cursor: pointer;
  border-style: solid;
}

.movie-elements__button-yet:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .movie-elements__button-yet {
    width: 240px;
  }
}