.element {
  display: flex;
  flex-direction: column;
  width: 270px;
}

.element__image {
  width: 270px;
  height: 151px;
}
.element__group {
  display: flex;  
  margin-top: 14px;
  padding-bottom: 13px;
  border-bottom: 1px solid #E8E8E8;
  justify-content: space-between;
  min-height: 45px;
}

.element__title {
  margin: 0;
  color: var(--content-content-primary, #000);
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.element__movie-length {
  color: #A0A0A0;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 6px 0 0 0;
}

.element__like-button {
  margin: 2px 0 0 5px;
  background: url(../../images/save5d.svg);
  background-repeat: no-repeat;
  height: 12px;
  width: 14px;
  border: none;
  background-color: transparent;
  padding-left: 5px;
}

.element__like-button_status_active {
  background: url(../../images/like.svg);
}

.element__like-button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.element__delete-button {
  margin: 30px 0 0 22px;
  background: url(../../images/delete-card-icon.svg);
  background-repeat: no-repeat;
  height: 12px;
  width: 14px;
  border: none;
  background-color: transparent;
  padding: 0;
}

.element__delete-button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.visible-none {
  display: none;
}

@media screen and (max-width: 768px) {
  .element {
    width: 157px;
  }
  .element__image {
    width: 157px;
    height: 87px;
  }
}

@media screen and (max-width: 500px) {
  .element {
    width: 300px;
  }
  .element__image {
    width: 300px;
    height: 168px;
  }

  .element__group {
    width: 300px;
    display: grid;
    grid-template-columns: 228px 1fr;
    grid-template-rows: 1fr 27px;
    grid-template-areas:
      "title like"
      "duration .";
  }

  .element__like-button {
    grid-area: like;
    margin: 16px 16px auto auto;
  }

  .element__title {
    grid-area: title;
    margin: 14px 0 13px 12px;
  }

  .element__movie-length {
    grid-area: duration;
    margin: 0 0 0 12px;
  }
}
@media screen and (max-width: 320px) {
  .element {
    align-items: start;
  }
}